/*** Page Rules ***/

html{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: darkslategray;
}

.flex{
  display: flex;
}

.sitecontainer{
  width: 1024px;
  margin: 0 auto;
}

/*** Header ***/

header{
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid gray;
}

.logo{
  align-items: center;
  padding-left: 1.5rem;
}

.logosvg{
  height: 2rem;
  width: auto;
}

.nav{
  padding-right: 1.5rem;
  flex-wrap: wrap;
}

.nav span{
  margin-left: 1rem;
}

#colmar{
  font-weight: bold;
}


/*** Content ***/

/*** Banner ***/

.banner{
  background-color: lightgray;
  padding: 6rem 0 2rem 1.5rem;
}

.bannerimg {
  width: 60%;
  height: auto;
}

.bannerimg img{
  width: 100%;
  display: block;
}

.bannertext{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  margin-left: 1.5rem;
  text-align: left;
  line-height: 1.5rem;
}

.bannertext h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bannertext h2{
  margin-bottom: 2rem;
}
.startbtn{
  width: 100%;
  text-align: center;
  background-color: darkslategray;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 0;
}

.startbtn span a{
  color: white;
}
