/*************************** Page Rules ***************************/

html{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: darkslategray;
  line-height: 1.5;
}

.flex{
  display: flex;
}

.flexc{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h1,h2,h3{
  font-weight: bold;
}

h1,h2,h3,span,p{
  line-height: 1.5;
}

/*************************** Header ***************************/

header{
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid gray;
}

.logo{
  align-items: center;
  padding-left: 1.5rem;
}

.logosvg{
  height: 2rem;
  width: auto;
}

.nav{
  padding-right: 1.5rem;
  flex-wrap: wrap;
}

.nav span{
  margin-left: 1rem;
}

#colmar{
  font-weight: bold;
}


/*************************** Content ***************************/

/*************************** Banner ***************************/

.banner{
  background-color: lightgray;
  padding: 6rem 0 2rem 1.5rem;
}

.bannerimg {
  width: 60%;
  height: auto;
}

.bannerimg img{
  width: 100%;
  display: block;
}

.bannertext{
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin-left: 1.5rem;
}

.bannertext h1{
  margin-bottom: 2rem;
}

.bannertext h3{
  margin-bottom: 2rem;
}
.startbtn{
  width: 100%;
  text-align: center;
  background-color: darkslategray;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 0;
}

.startbtn span a{
  color: white;
}

/*************************** Information ***************************/

.information{
  justify-content: flex-start;
  margin-left: 1.5rem;
}
/**First Column**/
.infocolumn1{
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgray;
}

.infocolumn1 img{
  max-width: 100%;
  height: auto;
}

.infocolumn1 h2{
  margin-top: 2rem;
}

.infoquote{
  margin-top: 1.5rem;
}

/**Second Column**/
.infocolumn2{
  width: 40%;
}

.infosection{
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid lightgray;
}

.infosection:nth-child(3n+0){
  background-color: lightgray;
}

.infocolumn2img{
  width: 35%;
}

.infocolumn2img img{
  width: 100%;
  height: auto;
}

.infosectiontext{
  margin: 0 1rem 0 1rem;
  width: 65%;
  justify-content: center;
}

.infosectiontext h3,
.infosectiontext span{
  margin-bottom: 0.5rem;
}

.readmore a{
  color: cornflowerblue;
}

/*************************** Courses ***************************/
.courses{
  background-color: lightgray;
}

.courses h2{
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.courserows{
  padding: 0 4.5rem 0 4.5rem;
}

.course{
  flex-direction: column;
  margin: 0 2rem 2rem 0;
  background-color: white;
  width: 33%;
}

.courseimg img{
  max-width: 100%;
  height: auto;
}

.coursetext{
  padding: 1rem 1rem 1.5rem 1rem;
}

.coursetext h3,
.coursetext span{
  margin-top: 0.5rem;
}

/*************************** Thesis ***************************/

/** Video Column **/

.thesis h2{
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.thesisvideocolumn{
  width: 60%;
  padding: 0 1.5rem 2rem 1.5rem;
}

.thesisvideo video{
  max-width: 100%;
  height: auto;
}

.thesisvideocolumntext{
  padding-top: 1.5rem;
}

.thesisvideocolumntext p{
  padding-top: 0.5rem;
  line-height: 1.5;
}

.otherthesiscolumn{
  width: 40%;
}

.fisma{
  background-color: lightgray;
}

.thesisimg{
  width: 35%;
  padding: 1rem;
}

.thesisimg img{
  width: 100%;
  height: auto;
}

.exhibittext{
  width: 65%;
  justify-content: center;
  padding-bottom: 1rem;
}

.exhibittext h3{
  margin: 1rem 0;
}
/** Other Column **/
